header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 10rem;
  background: var(--color-primary);
}

.me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 150px;
}

.me img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 14rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
}

@media screen and (max-width: 1080px) {
  header {
    height: 68vh;
  }
  .cta {
    margin-top: 80px;
  }
  .me {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials {
    display: none;
  }
  .scroll__down {
    display: none;
  }
}

@media (max-width: 480px) {
  .me {
    width: 150px;
    height: 150px;
    margin-top: 120px;
  }
}
