.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}

nav {
  background: rgba(0, 0, 0, 0.2);
  width: max-content;
  display: flex;
  padding: 0.3rem 1rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  gap: 0.5rem;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

nav a {
  background: var(--color-bg);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}

nav a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-white);
}
