.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}
.experience__container > div:hover {
  filter: brightness(1.2) contrast(1.2) saturate(1.2);
  transition: filter 400ms ease-in-out, border-color 400ms ease-in-out,
    box-shadow 400ms ease-in-out;
  border-color: var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}
